html {
  font-family: "Helvetica Neue", Helvetica, tahoma, Arial, "Lantinghei SC", "Hiragino Sans GB", "STHeitiSC-Light", "Microsoft YaHei", "微软雅黑";
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
pre {
  font-family: Courier, "Courier New";
}
a {
  color: #289de9;
  text-decoration: none;
}
a:visited {
  color: #289de9;
}
a:hover {
  color: #289de9;
  text-decoration: underline;
}
a:active {
  color: #2597d6;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
pre {
  font-family: Courier, "Courier New";
}
a {
  color: #289de9;
  text-decoration: none;
}
a:visited {
  color: #289de9;
}
a:hover {
  color: #289de9;
  text-decoration: underline;
}
a:active {
  color: #2597d6;
}
label {
  font-weight: normal;
}
/* placeholder */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
